*, *::before, *::after { box-sizing: border-box }
body {
	font-family: 'Great Vibes', cursive;
	background: url(../../Index/bg.jpg) no-repeat fixed center;
	background-size: cover;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn, .score {
	position: fixed;
	border: 1px solid #1B1734;
	border-radius: 5px;
	font-size: 0.9rem;
	font-family: 'Great Vibes', cursive;
	padding: 0.5rem 0.7em;
	background-color: transparent;
	color: #1B1734;
	z-index: 11;
}
.btn:hover, .score:hover {
	background: #1B1734;
	color: #ffffff;
}
#rldbtn {
	top: 5%;
	left: 0px;
	transform: translateX(50%);
}
.score {
	top: 5%;
	right: 0px;
	transform: translateX(-50%);
}

#game-board {
	display: grid;
	grid-template-columns: repeat(var(--grid-size), var(--cell-size));
	grid-template-rows: repeat(var(--grid-size), var(--cell-size));
	background-color: #CCC;
	gap: var(--cell-gap);
	border-radius: 1vmin;
	padding: var(--cell-gap);
	position: relative;
}
.cell {
	background-color: #AAA;
	border-radius: 1vmin;
}
.tile {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--cell-size);
	height: var(--cell-size);
	background-color: red;
	border-radius: 1vmin;
	top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
	left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
	font-weight: bold;
	font-size: 7.5vmin;
	background-color: hsl(200, 50%, var(--background-lightness));
	color: hsl(200, 25%, var(--text-lightness));
	animation: show 200ms ease-in-out;
	transition: 100ms ease-in-out;
}
@keyframes show {
	0% {
		opacity: .5;
		transform: scale(0);
	}
}

.alert-container {
	position: fixed;
	top: 10vh;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.alert {
	pointer-events: none;
	background-color: hsl(204, 7%, 85%);
	padding: .75em;
	border-radius: .25em;
	opacity: 1;
	transition: opacity 500ms ease-in-out;
	margin-bottom: .5em;
}