*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alert {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.35);
    padding: .75em;
    border-radius: 1em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
}
.alert:last-child { margin-bottom: 0 }
.alert.hide { opacity: 0 }

.cat img { width: 100% }
.cats {
    position: fixed;
    display: grid;
    grid-auto-flow: dense;
    overflow: hidden;
}
@media screen and (min-width: 45em) {
    .cats {
        height: 100vh;
        grid-template-columns: 29% 29% 43.5%;
        grid-template-rows: 50% 16% 34%;
    }
}
@media screen and (max-width: 45em) and (min-width: 25em) {
    .cats {
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media screen and (max-width: 25em) {
    .cats {
        grid-template-columns: 100vw;
        grid-template-rows: repeat(5, 1fr);
    }
}
.cat.cat--1 {
    background-color: #abe7db;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.cat.cat--2 {
    background-color: #FEDEB8;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.cat.cat--3 {
    background-color: #fff9e8;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.cat.cat--4 {
    background-color: #58a5a3;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.cat.cat--5 {
    background-color: #172535;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
@media screen and (max-width: 45em) and (min-width: 25em) {
    .cat.cat--4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .cat.cat--5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
@media screen and (max-width: 25em) {
    .cat.cat--1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .cat.cat--2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .cat.cat--3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .cat.cat--4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .cat.cat--5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}

.passcode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pass-main{
    width: 30vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 2rem;
}
@media only screen and (max-width: 720px) {
    .pass-main{
        width: 90vw;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.253);
        border-radius: 2rem;
    }
}

.cake_and_velas {
    position: relative;
    left: 0;
    right: 0;
    top: -20vh;
    overflow: hidden;
} 
#cake {
    display: block;
    position: relative;
    margin: -10em auto 0 auto;
}
/* Candles */
.candles {
    background: #58A5A3;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -2.4px;
    margin-top: -8.33333333px;
    width: 5px;
    height: 35px;
    transform: translateY(-300px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
}
.candles:after,
.candles:before {
    background: rgba(255, 0, 0, 0.3);
    content: "";
    position: absolute;
    width: 100%;
    height: 2.22222222px;
}
.candles:after {
    top: 25%;
    left: 0;
}
.candles:before {
    top: 45%;
    left: 0;
}
/* Fire */
.fire {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
}
.fire:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
}
.fire:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
}
.fire:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
}
.fire:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
}
.fire:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
}
/* Fire Animation */
@keyframes fuego {
    0%, 100% {
        background: rgba(254, 248, 97, 0.6);
        box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
        transform: translateY(0) scale(1);
    }
    50% {
        background: rgba(255, 50, 0, 0.1);
        box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
        transform: translateY(-20px) scale(0);
    }
}
@keyframes in {
    to { transform: translateY(0) }
}

#header {
    background: 
    radial-gradient(
        farthest-corner at bottom center,
        #fb8399 0,
        #ce6f8b 12%,
        #b86592 18%,
        #8952a3 33%,
        #774ca9 41%,
        #684497 45%,
        #493370 55%,
        #312753 64%,
        #232040 72%,
        #1d1d3a 78%
    );
}
#title {
    padding-top: 1.5%;
    padding-bottom: 3.5%;
    position: relative;
}
#walk-container {
    position: absolute;
    vertical-align: middle; 
    overflow: hidden;
    animation: stroll 30s linear infinite;
    width: 20%;
    padding-bottom: 15%; 
}
#walk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://res.cloudinary.com/pastelitos/image/upload/v1610526571/eva/gatito_pushui.svg);
    background-repeat: no-repeat;
    background-size: 1650%;
    overflow: hidden;
    animation: walkanim 1.2s infinite steps(15);
}
@media only screen and (max-width:720px){
    #walk-container { top: 55% }
    #sidebar { display: none }
}
@keyframes walkanim {
    to { background-position: 100% 0 }
}
@keyframes stroll {
    from { transform: translateX(-100%); }
    to { transform: translateX(500%); }
}

.sticky-top {
    transition: all 0.25s ease-in;
}
.stuck .navbar.sticky-top {
    background-color: rgb(0, 0, 0) !important;
    padding-top: .8rem !important;
    padding-bottom: .8rem !important;
}
.navbar-toggler:focus,
.navbar-toggler:active { outline: none }
.navbar-toggler span {
    display: block;
    background-color: #444;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
}.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: transform 300ms linear;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(45deg);
    opacity: 0.9;
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-45deg);
    opacity: 0.9;
}

#frame {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50%;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}